.container {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  font-family: sans-serif;
  /* height: 300px; */
  border-radius: 30px;
  /* border: 2px solid brown; */
  padding-bottom: 70px;
  /* background-color: rgb(199, 110, 110); */
  padding-top: 30px;

  /* animation-name: exam;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-iteration-count: infinite; */
  background-color: rgb(46, 45, 45);
  box-shadow: inset 10px 10px 50px grey;
}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
.input {
  border: transparent;
  width: 80%;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
  background-image: url(https://img.icons8.com/cute-clipart/64/000000/document.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 20px;
  outline: none;
  padding-left: 50px;
  /* margin-left: 40px; */
}
form {
  display: flex;
  /* background-color: rgb(46, 45, 45); */
  box-shadow: inset 10px 10px 50px grey;
  background-color: blanchedalmond;
}
.add {
  padding: 8px;
  border-radius: 50%;
  background-color: black;
  color: white;
  outline: none;
  height: 40%;
  top: 15;
  border: transparent;
  cursor: pointer;
  position: relative;
  /* right: 60; */
}
.add:hover {
  background-color: white;
  color: black;
  box-shadow: 5px 10px 40px blue;
}
.add span {
  font-size: 25px;
}
.para {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  color: red;
}

.ho {
  position: absolute;
  right: 0;

  top: 0;

  opacity: 0;
}

.task2 {
  color: white;
}
.task2 i {
  color: white;
  margin: 20px;
}
.task {
  color: red;
}
.trying i {
  color: red;
}
.trying {
  /* animation-name: exa2;
  animation-duration: 5s; */
  word-spacing: 2px;
  letter-spacing: 1px;
  width: 400%;
  /* margin-bottom: 200px; */
}

/* .task span {
  color: grey;
  padding-left: 30px;
} */
/* .task i {
  color: white;
} */
.double {
  position: relative;
  bottom: -40;
  padding: 10px;
  color: white;
}

.second {
  /* float: right; */
  padding: 6px;
  outline: none;
  cursor: pointer;
  border: transparent;
  /* background-color: beige;
  color: red; */
  background-color: black;
  color: white;
}
.second:hover {
  background-color: white;
  color: red;
}
.second2 {
  float: right;
}
@keyframes example {
  0% {
    right: -20;
    top: 0;
  }
  25% {
    right: 0;
    top: 0;
  }
}
/* next not working */

.add-items li {
  padding: 10px;
  padding-left: 40px;
  /* background-color: beige; */
  box-shadow: inset 10px 10px 50px grey;
  background-color: blanchedalmond;
  margin: 10px;
  /* margin-left: -30px; */
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  display: flex;
  list-style: none;
}
.add-items li:hover {
  background-color: red;
  box-shadow: inset 10px 10px 50px grey;
  /* background-color: blanchedalmond; */
}
.add-items li:nth-child(odd):hover {
  background-color: red;
  box-shadow: inset 10px 10px 50px grey;
}
.add-items li:nth-child(odd) {
  /* background-color: #e64545; */
  box-shadow: inset 10px 10px 50px gray;
  background-color: burlywood;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.delete2:hover {
  background-color: white;
  color: black;
}
.edit2:hover {
  /* background-color: red;
  color: white; */
  background-color: white;
  color: red;
}
.edit2,
.delete2 {
  float: right;
  padding: 14px;
  cursor: pointer;
  outline: none;
  color: white;
  /* box-shadow: inset 10px 10px 50px rgb(87, 82, 82); */

  background-color: black;
}
li:hover .ho {
  opacity: 1;

  animation-name: example;
  animation-duration: 5s;
}
.new {
  text-decoration: line-through;
}
.new2 {
  text-decoration: none;
  background-color: yellow;
}
.color {
  background-color: blue;
}
.color2 {
  background-color: yellow;
  color: white;
}
/* .add-items input:checked + label {
  text-decoration: line-through;
} */
.add-items li.checked {
  color: #fff;
  padding-left: 40px;
  text-decoration: line-through;
}
/* .justify-line {
  margin-left: 20px;
} */

/* Add a "checked" mark when clicked on */
.add-items li.checked::before {
  content: "";
  position: absolute;
  /* border-color: #fff; */
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.parent {
  width: 500px;
  height: 300px;
  background-color: red;
}
.child {
  width: 300px;
  height: 200px;
  background-color: green;
}
